<div class="main_container">
  <div class="container">
    <h1>Hi, I'm Bibhu!</h1>
    <p>
      <u>This is just a place listing my info and what i'm up to.</u> <br>
      <br>
      I am a junior software engineer, Keen on experimenting with new web technologies. <br>
      <br>
      Most I use <a href="https://angular.io" target="_blank">Angular</a> and <a
        href="https://ionicframework.com/">Ionic</a> in my job. <br>
      Next I am thinking try <a href="https://reactjs.org/">React</a> and <a href="https://reactnative.dev/">React
        Native</a> for a change. <br>
      <br>
      Also i have stared posting blogs things i learn or i find cool. <br>
    </p>


    <u>you also can find me on the web</u><br>
    <br>
    Github- <a href="https://github.com/bibhu-padhy" target="_blank">https://github.com/bibhu-padhy</a><br>
    Linkedin- <a href="https://linkedin.com/in/bibhu-padhy-492b89156/"
      target="_blank">https://linkedin.com/in/bibhu-padhy-492b89156/</a>
  </div>

</div>
