.nav_caontainer {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #d3d3d3;
  margin: 0 10px;

  .nav_brand {
    cursor: pointer;
    margin: 0 20px;
  }


  .nav_links {
    display: flex;
    flex: 1;
    justify-content: flex-end;

    .nav {
      cursor: pointer;
      margin-right: 20px;
    }
  }
}

.on_hover:hover {
  transition: all 200ms ease;
  color: gray;
  transform: scale(1.1);
  font-weight: 500;
}
