/* You can add global styles to this file, and also import other style files */


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.active_link {
  transition: all 200ms ease;
  color: gray;
  transform: scale(1.1);
  font-weight: 500;
}
